/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 20px 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 0 20px 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  display: flex;
  flex-direction: column;
}

main img {
  width: 100%;
  margin-bottom: 23px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

#menu {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 18px;
}

header nav ul li {
  list-style-type: none;
  display: flex;
  padding: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-of-type a {
  color: #fff;
  text-decoration: none;
  padding-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 20px 15px 10px;
  display: flex;
  flex-direction: column;
}
form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
/* -------  About ------- */

.alternate-background h2 {
  margin: 17px;
}
.alternate-background p {
  margin-bottom: 5px;
}

/* ------- Ideas ------- */

#ideas h2{
  margin-bottom: 27px;
}
#ideas img:last-of-type {
  margin-bottom: 9px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  /* ------- header ------- */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    align-self: center;
  }
  header {
    padding: 10px 20px;
    }
  #menu {
    padding-bottom: 0;
    }
  header nav ul li a {
    font-size: 19px;
  }
  /* ------- search form ------- */
  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  form div {
    flex-direction: column;
    margin-right:3%
  }
  input, select {
    height: 25px;
  }
  form button {
    width: 200px;
  }
    /* ------- about ------- */
  .alternate-background {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  .about-desktop {
    display: flex;
    flex-direction: row;
  }

  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    align-self: center;
    margin-left: 17px;
  }
  /* ------- ideas ------- */
.ideas-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.idea-items {
  margin: 10px;
  width: 48%;
}
/* ------- host ------- */
.host-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 10px 0;
}
.host-item {
  flex: 1;
  margin: 0 5px;
}
}